<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>254303280163-k349ac339igkre4riig539bifutrqkvb.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.254303280163-k349ac339igkre4riig539bifutrqkvb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nvb.FinFlowIos</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>finflow</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>FinFlow cần sử dụng Face ID để xác thực đăng nhập nhanh và bảo mật</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FinFlow cần quyền microphone để chuyển giọng nói thành nội dung giao dịch.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>FinFlow cần quyền nhận diện giọng nói để tự động điền giao dịch từ lời nói.</string>
	<key>NSCameraUsageDescription</key>
	<string>FinFlow cần quyền camera để chụp ảnh hoá đơn và tự động điền giao dịch.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FinFlow cần quyền truy cập ảnh để chọn hoá đơn có sẵn và tự động điền giao dịch.</string>
</dict>
</plist>
